/* colors */
$bg-gray: #F0F0F0;
$error-red: #e99;

/* reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ol, ul {
  list-style: none;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $bg-gray;
}

/* clearfix */
.group:after {
  display: table;
  content: "";
  clear: both;
}

/* header */
header {
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* main */
main {
  width: 900px;
  margin: 0 auto;
}

/* footer */
footer {
  font-size: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 25%;
  margin: auto;

  li {
    float: left;
    margin-right: 5px;
  }
}

.spinner {
  position: fixed;
  left: 0; bottom: 0; right: 0; top: 0;
  display: table;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: white;
}

.loading {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #47f4a9;
  font-size: 50px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.ellipsis {
  text-align: center;
  
  &:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4,end) 750ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
}

.error-bar {
  background-color: $error-red;
  padding: 10;
}
