$vine-green: #00bf8f;
$dark-blue: #2898ff;
$trans-gray: rgba(0,0,0,0.04);

.issue-detail {
  margin-left: auto;
  margin-right: auto;
}

.issue-header {
  width: 90%;
  margin-bottom: 30px;
  font-size: 30px;
}

.comment-container {
  position: relative;
  float: left;
  width: 740px;
  border: 2px solid $vine-green;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;

  /* tooltip */
  &:before {
    content: "";
    position: absolute;
    top: 10px;
    bottom: auto;
    left: -28px;
    border-width: 15px 28px 15px 0;
    border-color: transparent $vine-green;
    border-style: solid;
  }

  &:after {
    content: "";
    position: absolute;
    top: 13px;
    bottom: auto;
    left: -21px;
    border-width: 12px 21px 12px 0;
    border-color: transparent white;
    border-style: solid;
  }
}

.comment-meta {
  padding-top: 5px;
  padding-left: 15px;
}

.user-mention {
  color: black;
  font-weight: bold;
}

.comment-body {
  overflow-x: scroll;
  padding: 20px;
}

.markdown-text {
  line-height: 1.6;

  p {
    margin-bottom: 10px;
  }

  &:empty:not(:focus):before {
    content: attr(data-text);
    color: gray;
    font-style: italic;
  }

  code {
    background-color: $trans-gray;
    padding: .2em 0;
    border-radius: 2px;
  }
}
