$vine-teal: #00bf8f;
$teal-transparent: rgba(0,191,143,.2);
$dark-blue: #2898ff;

.issue-list-item {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;

  &:hover {
    background-color: $vine-teal;
    color: white;
  }
}

.avatar-link {
  float: left;
}

.avatar-image {
  width: 80px;
  height: 80px;
  margin-right: 25px;
}

.item-container {
  width: 740px;
  float: left;
}

.title-link {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 2px;
  padding-right: 3px;
  line-height: 1.2;
  float: left;
}

a:hover{
  color: $dark-blue;
}

.issue-labels {
  float: left;
}

.label {
  vertical-align: top;
  display: inline-block;
  padding: 3px 4px;
  font-size: 11px;
  font-weight: bold;
  border-radius: 2px;
  line-height: 1;
  margin: 0 2px;
}

.issue-meta {
  font-size: 12px;
  margin: 5px 0;
}
